* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #2f2f2f;
	font-family: "Poppins", sans-serif;
}

header {
	height: 60px;
	width: 100vw;
	background: #444;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0px;
	z-index: 1;
}

.head-name {
	margin-left: 30px;
}

header h3 {
	color: gold;
	font-size: 25px;
	font-family: "poppins";
	font-weight: 700;
	margin: 0px;
}

header nav {
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	width: 700px;
	align-items: center;
}

header nav a {
	text-decoration: none;
	font-size: 17px;
	color: rgba(255, 255, 255, 0.7);
	font-family: "poppins";
	font-weight: 500;
	display: block;
	padding: 15px 0px;
	border-bottom: 4px solid #444;
	text-transform:capitalize;
}

header nav a:hover {
	color: white;
	border-bottom: 4px solid gold;
}


.home-info {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 90vh;
}

.info-detail h3 {
	color: gold;
	font-size: 30px;
	font-family: "poppins";
	font-weight: 700;
	margin: 0px;
	text-transform:capitalize;
}

.info-detail .name-info {
	display: flex;
	align-items:end;
}

.info-detail p {
	text-decoration: none;
	font-size: 16px;
	margin: 0px;
	line-height: 30px;
	color: white;
}

.contact-btn {
	color: white;
	font-size: 15px;
}

.image {
	height: 450px;
	width: 450px;
	background-image: url("/images/Store2.png");
	background-size: cover;
}



.sidebar {
	width: 18%;
	height: 100vh;
	background: #444;
	position: fixed;
	padding-top: 45px;
}

.sidebar a {
	text-decoration: none;
	font-size: 17px;
	color: rgba(255, 255, 255, 0.7);
	font-family: "poppins";
	font-weight: 500;
	display: block;
	padding: 10px 25px;
	transition: all 0.1s linear;
}

.sidebar a:hover {
	background: #2f2f2f;
	width: 100%;
	color: white;
}

.sidebar .crossBtn {
	position: absolute;
	top: 0px;
	right: 10px;
	color: white;
	font-size: 30px;
	cursor: pointer;
}

.user-content {
	margin-left: 20%;
	height: 100vh;
	padding: 30px;
	transition: all 0.2s linear;
}

.user-content .bars {
	display: none;
	position: absolute;
	top: 57px;
	left: 10px;
	color: #cecece;
	font-size: 30px;
	cursor: pointer;
}


.store-container {
	width: 400px;
	background: #444;
	padding: 20px;
	margin: 61px auto;
	border-radius: 10px;
}

.store-reg-heading h3 {
	color: gold;
	font-size: 25px;
	font-family: "poppins";
	font-weight: 700;
	margin: 0px;
}

.form-container {
	margin-top: 20px;
}

.form-container form label {
	color: white;
	font-family: "poppins";
	font-weight: 500;
}

.form-container form input {
	height: 35px;
	width: 100%;
	background-color: #484848;
	color: white;
	border: 1px solid #c1c1c1;
	border-radius: 5px;
	padding-left: 7px;
}

.form-container form input:focus {
	color: white;
	border-color: gold;
	outline: 0;
	box-shadow: 0px 0px 4px gold;
}

.form-container form textarea {
	background-color: #484848;
	width: 100%;
	color: white;
	outline: none;
	border-radius: 5px;
	border: 1px solid #c1c1c1;
	padding-left: 7px;
}

.form-container form textarea:focus {
	color: white;
	border-color: gold;
	outline: 0;
	box-shadow: 0px 0px 4px gold;
}

.storeMsg {
	width: 90%;
	border-radius: 5px;
	background: #16C47F;
	padding: 8px;
	text-align: center;
	margin: 15px auto;
}

.storeMsg p {
	margin: 0px;
}


.table-heading h3{
	color: gold;
	font-size: 30px;
	font-family: "poppins";
	font-weight: 700;
	margin: 0px;
	text-transform:capitalize;
}

.table-data {
	background: #444;
	width: 100%;
	border: 1px solid #6a6969;
	border-radius: 10px;
}

.table-data tr {
	border-top: 1px solid #6a6969;
	border-bottom: 1px solid #6a6969;
	height: 60px;
	transition: all 0.1s linear;
}

.table-data tr:hover {
	background: #2f2f2f;
}

.table-data th {
	font-size: 17px;
	color: gold;
	font-family: "poppins";
	font-weight: 500;
	padding: 10px 25px;
}

.table-data td {
	font-size: 17px;
	color: white;
	font-family: "poppins";
	font-weight: 500;
	padding: 10px 25px;
}

.search-container {
	position: relative;
	width: 100%;
}

.search-container input {
	height: 35px;
	width: 95%;
	background-color: #484848;
	color: white;
	border: 1px solid #c1c1c1;
	border-radius: 5px;
	padding-left: 7px;
	outline: none
}

.search-container .search-user-data {
	display: none;
	position: absolute;
	width: 100%;
	background: #444;
	border: 1px solid #6a6969;
	border-radius: 10px;
	padding: 10px;
}

.search-container .search-store-data {
	display: none;
	position: absolute;
	width: 100%;
	background: #444;
	border: 1px solid #6a6969;
	border-radius: 10px;
	padding: 10px;
}

.profile-container {
	background: #444;
	padding: 30px;
	border-radius: 10px;
	margin:30px auto;
}

.profile-name h3 {
	color: gold;
	font-size: 25px;
	font-family: "poppins";
	font-weight: 700;
	margin: 0px;
	text-transform: capitalize;
}

.profile-info {
	width: 100%;
}

.profile-info table {
	background: #444;
	width: 100%;
	border: 1px solid #6a6969;
	border-radius: 10px;
}

.profile-info table tr {
	border-top: 1px solid #6a6969;
	border-bottom: 1px solid #6a6969;
	height: 60px;
	transition: all 0.1s linear;
}

.profile-info table th {
	font-size: 17px;
	color: gold;
	font-family: "poppins";
	font-weight: 500;
	padding: 10px 25px;
}

.profile-info table td {
	font-size: 17px;
	color: white;
	font-family: "poppins";
	font-weight: 500;
	padding: 10px 25px;
}