<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{Admin/base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Admin DashBoard</title>
</head>
<body>
	
	
	<section>
	<div class="home-info"> 
        <div class="info-detail">
         <div class="name-info">
          <p class="pe-2">Hiii</p>
          <h3 th:text="${user.uname}"></h3>
          </div>
          <p>Welcome To</p>
          <h3>Store Management System</h3>
          <p>"Create Account & Open Stores"</p>
          <button th:href="@{/admin/addstore}" class="btn btn-outline-warning contact-btn mt-2">
            Add Stores
          </button>
        </div>
         <div class="image"></div>
      </div>
	
	</section>
</body>
</html>