<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{User/base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>Home</title>
</head>
<body>


	<section>

		<div class="form-container">

			<div class="mb-3 text-center heading">
				<h3>Update Form</h3>
			</div>

			<form action="#" th:action="@{/user/updateInfo}" method="post"
				th:object="${user}" autocomplete="off">

                    <input type="hidden" name="uid" th:value="${user.uid}" />
                     
				<div class="mb-3 heading">
					<label for="name" class="form-label">Name</label> 
					<input
						type="text" name="uname" 
						th:classappend="${#fields.hasErrors('uname') ? 'is-invalid' : ''}"
						th:value="${user.uname}" id="name">
						
					<div class="invalid-feedback" th:each="err : ${nameErr}"
						th:text="${err.defaultMessage}"></div>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email</label> <input
						type="text" name="uemail" 
						th:classappend="${#fields.hasErrors('uemail') ? 'is-invalid' : ''}"
						th:value="${user.uemail}" id="email">
					<div class="invalid-feedback" th:each="err : ${emailErr}"
						th:text="${err.defaultMessage}"></div>
				</div>


				<div class="mb-3">
				<label for="address" class="form-label">Address</label>
					<textarea rows="3" cols="" name="uaddress" id="address"
						th:value="${user.uaddress}"></textarea>
				</div>
				<div class="update-btn text-center">
					<button type="submit" class="btn btn-primary">Update</button>
				</div>
			</form>



		</div>
	</section>
</body>
</html>
